body{
	width: 100vw;
	height: 100vh;
	border: 1px solid black;
}

button{
	min-height: 25px;
	min-width: 25px;
	font-weight: bold;
	background-color: #333333;
	border: 1px solid #808080;
	color: #FFF;
}

button:hover{
	border: 1px solid #000;
}

.CLR{
	background-color: #960000;
}

.op{
	background-color:#7AA9DD	;
}

.dummy{
	opacity: 0;
}

.container{
	width: 80%;
	margin: 3% 10%;
	min-height: 60px;
	min-width:	120px;
}

#calculator{
	width: 200px;
	height: 260px;
	margin: 5% 30%;
	background-color: #808080;
	border: 1px solid #333333;
	border-radius: 15px;
}

#calculator div{
	position: relative;
	display:inline-block;
}

#calculator #buttons{
	height: 50%;
}

#calculator #numberBlock{
	max-width: 90px;
	margin-left: 10%;
}

#calculator #operations{
	max-width: 30px;
	margin: 0;
}

#calculator #top-bar{
	width: 180px;
	margin-left: 10%;
}

#calculator #display{
	border: 1px solid #333333;
	border-radius: 3px;
	display: block;
	height: 30%;
	background-color: #808000;
}

#calculator #submit{
	margin-left: 10%;
}

#calculator #submit button{
	width: 122px;
}

#display p{
	width: 100%;
	height: 100%;
	margin: 0;
	font-weight: bold;
	overflow-wrap: break-word;
}

@media (min-width: 500px){
	button{
		height: 50px;
		width: 50px;
	}
	
	.container{
		min-width: 250px;
	}
	
	#calculator{
		width: 350px;
		height: 500px;
	}
	
	#calculator #buttons{
	min-width: 275px;
	height: 50%;
	}
	
	#calculator #numberBlock{
		max-width: 175px;
	}
	#calculator #operations{
	max-width: 60px;
	margin: 0;
	}
	
	#calculator #submit button{
	width: 232px;
}
}